/* 共通 */
/* ============================================ */
.articles {
    .card {
        width: 500px;
        background-color: $baseColor;
        padding: 40px;
        box-sizing: border-box;
        margin-bottom: 15px;
        box-shadow: 0 0 5px rgba($color: $fontColor, $alpha: .5);
        border-radius: 5px;
        .profile_area {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 15px;
            position: relative;
            .profile_image {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $lightGray;
                width: 50px;
                height: 50px;
                margin-right: 15px;
                border-radius: 50px;
            }
            .profile_text {
                a {
                    font-weight: bold;
                }
                span {
                    display: block;
                    font-size: 1.4rem;
                    color: $darkGray;
                }
            }
            .profile_menu {
                display: flex;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                z-index: 1;
                .edit-btn {
                    color: $darkBlue;
                    padding: 5px;
                    box-shadow: 0 0 3px $darkBlue;
                    border-radius: 3px;
                    i {
                        margin-right: 2px;
                    }
                    &:hover {
                        color: $baseColor;
                        background-color: $darkBlue;
                        opacity: 1;
                    }
                }
                .delete-btn {
                    color: $accentColor;
                    padding: 5px;
                    box-shadow: 0 0 3px $accentColor;
                    margin-left: 10px;
                    border-radius: 3px;
                    i {
                        margin-right: 2px;
                    }
                    &:hover {
                        color: $baseColor;
                        background-color: $accentColor;
                        opacity: 1;
                    }
                }
            }
        }
        .content_area {
            margin-bottom: 15px;
            .tag_area {
                margin-top: 10px;
                a {
                    font-size: 1.5rem;
                    color: $btnColor;
                    padding: 3px 8px;
                    box-sizing: border-box;
                    margin-right: 3px;
                    border: 1px solid $btnColor;
                    border-radius: 5px;
                    &:hover {
                        color: $baseColor;
                        background-color: $btnColor;
                        opacity: 1;
                    }
                }
            }
        }
        .reaction_area {
            display: flex;
            align-items: center;
            .comment,
            .like {
                display: flex;
                align-items: center;
                i {
                    color: $darkGray;
                    &.liked {
                        color: $accentColor;
                        animation: animate .3s ease-in-out forwards;
                    }
                    @keyframes animate {
                        0%,100% {
                            transform: scale(1);
                        }
                        25% {
                            transform: scale(1.5);
                        }
                    }
                }
                span {
                    color: $darkGray;
                    margin-left: 5px;
                }
            }
            .comment {
                margin-right: 15px;
            }
        }
        hr {
            color: $lightGray;
            margin: 15px 0;
        }
        .comment_area {
            a {
                font-size: 1.5rem;
                color: $darkGray;
            }
        }
    }
    form {
        width: 500px;
        background-color: $baseColor;
        padding: 100px 60px 80px;
        box-sizing: border-box;
        margin: 0 auto;
        box-shadow: 0 0 8px rgba($color: $fontColor, $alpha: .5);
        border-radius: 5px;
        position: relative;
        h2 {
            font-size: 2rem;
            text-align: center;
            width: 100%;
            color: $baseColor;
            background: linear-gradient(to right, $darkBlue 0%, $lightBlue 100%);
            padding: 10px 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        dl {
            dt {
                font-weight: normal;
                color: $darkGray;
                margin-bottom: 5px;
            }
            dd {
                margin-bottom: 20px;
                textarea {
                    color: $fontColor;
                    width: 100%;
                    min-height: 230px;
                    padding: 10px;
                    box-sizing: border-box;
                    border: 1px solid $darkGray;
                    border-radius: 5px;
                }
            }
        }
        .btn {
            display: block;
            font-weight: bold;
            text-align: center;
            color: $baseColor;
            padding: 15px 60px;
            box-sizing: border-box;
            margin: 40px auto 0;
            border-radius: 30px;
            &.green {
                background-color: $btnColor;
            }
        }
    }
}

// レスポンシブ
@media screen and (max-width: 767px) {

.articles {
    .card {
        width: 100%;
        padding: 20px;
        .profile_area {
            .profile_menu {
                .edit-btn {
                    box-shadow: none;
                    i {
                        margin-right: 0;
                    }
                }
                .delete-btn {
                    margin-left: 3px;
                    box-shadow: none;
                    i {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    form {
        width: 100%;
        padding: 80px 20px 40px;
    }
}
    
}


/* index */
/* ============================================ */
.index {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

// レスポンシブ
@media screen and (max-width: 767px) {

}


/* create */
/* ============================================ */
.create {
    height: 100vh;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* show */
/* ============================================ */
.show {
    .container {
        display: flex;
        justify-content: center;
    }
}


/* edit */
/* ============================================ */
.edit {
    height: 100vh;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* tags-show */
/* ============================================ */
.tags-show {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .title-tag {
        text-align: center;
        color: $baseColor;
        background-color: $btnColor;
        width: 500px;
        padding: 15px 0;
        margin-bottom: 30px;
        box-shadow: 0 0 5px $btnColor;
        border-radius: 5px;
        h2 {
            font-size: 2.2rem;
            font-weight: bold;
        }
    }
}

// レスポンシブ
@media screen and (max-width: 767px) {

.tags-show {
    .title-tag {
        width: 100%;
    }
}

}