// 色コード
$baseColor: #FFF;
$fontColor: #333;
$subColor: #F9FAFA;
$bgColor: #F7FCFC;
$accentColor: #E0351E;
$btnColor: #15847B;
$lightBlue: #40AED3;
$darkBlue: #1B6F9F;
$lightGray: #EAEBEC;
$darkGray: #646E72;